<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css"/>
<link rel="stylesheet" href="/css/task.css"/>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="task-form" action="/task/<% if (editing) { %>edit-task<% } else { %>add-task<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= task.title %><%} %>">
            </div>    
            <div class="form-control">
                <label for="content">Content</label>
                <textarea name="content" id="content"><% if (editing) { %><%= task.content %><%} %></textarea>
            </div>
            <div class="form-control">
                <label for="content">Deadline</label>
                <input type="date" name="deadline" id="deadline" value="<% if (editing) { %><%= task.deadlineStr %><%} %>">
            </div>

            <select name="status" id="status" >
            <% for (const status of statusList) { %>
                <option value="<%= status %>"> <%= status %> </option>
            <% } %>
            </select>

            <select name="categoryId" id="categoryId" >
                <% for (const category of categoryList) { %>
                    <option value="<%= category._id %>"> <%= category.name %> </option>
                <% } %>
            </select>

            <% if (editing) { %>
                <input type="hidden" value="<%= task._id %>" name="taskId" >
            <% } %>

            <button class="active" type="submit"><% if (editing) { %> Update Task <%} else { %>Add Task <% } %></button>
        </form>
    </main>

    <% if (editing) { %>
        <script>
            const selectedStatus = <%- JSON.stringify(task.status); %>;
            const statusOptions = document.getElementById('status').children;
            for (let i = 0; i < statusOptions.length; i++) {
                if(statusOptions[i].value===selectedStatus) {
                    statusOptions[i].selected = true;
                };
            }
        </script>

        <script>
            const selectedCategoryId = <%- JSON.stringify(task.categoryId); %>;
            const categoryOption = document.getElementById('categoryId').children;
            for (let i = 0; i < categoryOption.length; i++) {
                if(categoryOption[i].value===selectedCategoryId ) {
                    categoryOption[i].selected = true;
                };
            }
        </script>
    <% } %>

<%- include('../includes/end.ejs') %>