<article class="card task-item">
    <header class="card__header">
        <h1 class="task__title"><%= task.title %></h1>
        <!-- <div class="card__actions dropdown">
            <i class="fas fa-bars dropdown-btn"></i>
            <div class="dropdown-content">
                <a href="task/edit-task/<%= task._id %>?edit=true" class="btn">Edit</a>
                <form action="/task/delete-task" method="POST">
                    <input type="hidden" name="taskId" value="<%= task._id %>">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        </div> -->
    </header>
    <div class="card__content">
        <p class="task__content"><%= task.content %></p>
    </div>
    <div class="card__content">
        <p class="task__deadline fas fa-clock"><%= task.deadlineStr %></p>
        <a href="task/edit-task/<%= task._id %>?edit=true" class="fas fa-edit" style="margin-left: 30px;"></a>
        <form action="/task/delete-task" method="POST" style="margin-left: 10px;">
            <input type="hidden" name="taskId" value="<%= task._id %>">
            <button class="btn fas fa-trash" type="submit"></button>
        </form>
    </div>
    <!-- <div class="card__content">
        <p class="task__status">STATUS: <%= task.status %></p>
    </div>
    <div class="card__content">
        <p class="task__category">CATEGORY: <%= task.category.name %></p>
    </div> -->
</article>